<div class="main-content">
  <label for="password">Enter Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    [(ngModel)]="password"
    (input)="calculateStrength()"
  />
  <p>This sections will show the strength of the password:</p>
  <div class="box-container">
    <div
      class="box"
      [ngStyle]="{ 'background-color': passwordStrengthColor }"
    ></div>
    <div
      class="box"
      [ngStyle]="{ 'background-color': passwordStrengthColor2 }"
    ></div>
    <div
      class="box"
      [ngStyle]="{ 'background-color': passwordStrengthColor3 }"
    ></div>
  </div>
</div>
