.main-content {
  margin-top: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="password"] {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.box-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.box {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  border: 1px solid #ccc;
}
